* {
    font-family: 'Droid Serif', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
    color: #333;
}

h2, h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 35px;
    color: #777;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

h4 {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-style: solid;
}

h5 { 
    text-align: center;
    font-size: 15px;
    margin-bottom: 35px;
    color: #777;
    font-family: 'Roboto Slab', serif;
}
section {
    padding: 0 80px 100px;
    width: 100%;
}

.btn-primary {
	background-color: #0ed8d6;
	border: solid 1px #0ed8d6;
	height: 75px;
	width: 250px;
	font-size: 18px;
	color: white;
    
}


/*main section stop*/


/*menu nav */

#main_nav {
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.3s;
}

#main_nav ul li a {
    color: #fff;
}

#main_nav ul li a:hover {
    color: orange;
}

#main_nav.scroll {
    background-color: white;
}

#main_nav .navbar-nav {
    
}
#main_nav.scroll ul li a {
    color: black;
}

#main_nav.scroll ul li a:hover {
    color: orange;
}

#main_nav .navbar-brand {
    color: white;
    margin-left: 150px;
    position: relative;
}

#main_nav .navbar-nav a {
    color: white;
    left: 50px;
    text-transform: uppercase;
    font-size: 12px;
}

#main_nav .navbar-brand.scroll {
    color: black;
    margin-left: 150px;
    position: relative;
}

/*menu nav stop*/


/*header start*/

#main_header {
    background-image: url('../img/header/pictures_on_the_wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 800px;
    width: 100%;
    height: 100vh;
    position: relative;
}

.main_header_content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
}

.main_header_content #main-header-text {
    text-transform: capitalize;
    font-size: 2em;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_header_content #second-header-text {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
    margin: 0;
}

.main_header_content input[type="submit"] {
    background-color: #0ed8d6;
    color: #fff;
    margin-top: 25px;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 30px;
    float: center;
    border: none;
    transition: all 0.3s;
}


/*header stop*/


/*services style */
#services .pagination-centered {
    text-align: center;
}

#services #icons-review {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #0ed8d6;
    display: inline-block;
    margin-bottom: 30px;
}

#services #icons-review i {
    color: #ffffff;
    font-size: 36px;
    padding: 17px;
}

#services .first-service-unit {
    text-align: center;
}

#services .second-service-unit {
    text-align: center;
}

#services .third-service-unit {
    text-align: center;
}

/*services style off */

/*portfolio section on */
#portfolio {
    background-color: #f7f7f7;
    text-align: center;
    
}

#portfolio #first-portfolio-item-photo {
    background-image:url('../img/portfolio/box_of_cookies.jpg');
}

#portfolio #second-portfolio-item-photo {
    background-image:url('../img/portfolio/chaotic_paint.jpg');
}

#portfolio #third-portfolio-item-photo {
    background-image:url('../img/portfolio/chestnut_on_bracket1.jpg');
}

#portfolio #four-portfolio-item-photo {
    background-image:url('../img/portfolio/child_with_blue_paint.jpg');
}

#portfolio #fifth-portfolio-item-photo {
    background-image:url('../img/portfolio/house_with_blue_doors.jpg');
}

#portfolio #six-portfolio-item-photo {
    background-image:url('../img/portfolio/typing_on_laptop.jpg');
}


#portfolio #text-design {
    margin-top: -10px;
    vertical-align: middle;
}


#portfolio .single-portfolio-item {
    text-align: center;
	height: 250px;
    width: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#portfolio .container-fluid .portfolio-item-background {
    background-color: white;
    left: 0;
	right: 0;
    margin-top: -5px;
    margin-bottom: 35px; 
    height: 100px;
}

#portfolio #text-design {
    transform: translateY(60%);
}

#portfolio #text-design h4 {
    margin: 0px;
    padding: 0px;
}

#portfolio .portfolio-image-mask {
    background-color: rgba(14, 216, 214, 0.70);
    height: 250px;
    opacity: 0;
    transition: all 0.4s ease-in;
    text-align: center;
}

#portfolio .portfolio-image-mask:hover {
    opacity: 1;
    cursor: crosshair;
}

#portfolio .portfolio-image-mask i {
    top: 40%;
    font-size: 50px;
    color: #ffffff;
    position: relative;
}

#portfolio #text-design h4 {
    margin-top: 10px;
}

#portfolio #text-design h2 {
    padding: 0px;
    margin: 10px;
}
/*team style */

#team .single-team-member-photo {
	height: 150px;
	width: 150px;
	background-size: cover;
	border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#eric {
	background-image: url(../img/team/man-1.jpg);
}

#martin {
	background-image: url(../img/team/man-2.jpg);
}

#rafal {
	background-image: url(../img/team/rafal-m.jpg);
}

#team .single-team-member .social-media-icons {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 15px;

}

#team .single-team-member .social-media-icons a{
    display: inline-block;
    text-align: center;
	height: 40px;
	width: 40px;
	font-size: 18px;     
	line-height: 35px;
	border: 1.5px solid #222222;
	border-radius: 100%;
	margin-right: 20px;
	background-color: #222222;
	color: white;
    
}
#team .single-team-member .social-media-icons a:visited { 
    color: white;
    
}

#team .single-team-member .social-media-icons a:hover{
    
	background-color: #0ed8d6;
	color: white;
	border: 1.5px solid #0ed8d6;
}
/*team style off*/
/*contacty mode on*/
h1.contact-info {
    margin-top: 15%;
}

h1.contact-info, h2.contact-info {
    color: white;
}

#contact {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/footer/world-map.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact .contact-form-info {
    margin-top: inherit;
}

/*contact style off*/
/*footer*/

.footer{
	height: 100px;
	font-style: italic;
}
.copyrights{
	color: #777777;
}

.copyrights, .footer-social-media-icons {
	margin-top: 25px;
    text-align: center;
}

.copyrights, .terms-conditions {
    box-sizing: border-box;
    text-align: center;
}

.terms-conditions {
    margin-top: 35px;
}

.footer-social-media-icons a{
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 18px;
	line-height: 40px;
	border: 1.5px solid #222222;
	border-radius: 100%;
	text-align: center;
	margin-right: 20px;
	background-color: #222222;
    color: white;
}

.footer-social-media-icons a:visited { 
    color: white;
}

.footer-social-media-icons a:hover{
	background-color: #0ed8d6;
	color: white;
	border: 1.5px solid #0ed8d6;

}

/*footer style stop*/



